# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# firebase
serviceAccountKey.json

# npm
dist
node_modules
.env
*.log
*.gz

# assets
public/**
!public/.gitkeep 


# Coveralls
coverage

# Benchmarking
benchmarks/graphs